*{
    margin: 0px; 
    border: 0px;
}
.head {
    padding: 1rem;
    display: flex;
    color: #00008b;
}
.body {
    margin: auto;
    max-width: 29rem;
    text-align: center;
}
.bookmarkTab {
    flex: 2;
}
h3 {
    flex: 9;
}
button{
    cursor: pointer;
}
.ip-field-wrapper {
    /* margin: 2rem; */
    display: flex;
    height: 3rem;
}
.ip-item{
    border: 1px solid black;
    flex: 3;
    padding: 1rem;
    font-size: medium;
    border-radius: 5px;
}
.btn-item{
    border-radius: 5px;
    flex: 1;
}

.recipe-head {
    text-transform: capitalize;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2rem;
    text-decoration: underline;
}
.recipe-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 70%;
}
.item-wrapper {
    text-align: center;
    border: 1px solid;
    box-shadow: 4px 3px black;
    padding: .5rem;
    width: 13rem;
    display: inline-block;
    margin: .5rem;
    border-radius: 5px;
    background-color: white;
}
body {
    background-color: #f1f3ff;
}
.item-card {
    margin: auto;
    justify-content: center;
    text-align: center;
}
img {
    border-radius: 6px;
    cursor: pointer;
    width: 26vh;
    height: 25vh;
}
.btn-ingredient-popup {
    text-decoration: underline;
    font-size: large;
    cursor: pointer;
    font-style: italic;
    margin: 2%;
}
.item-details {
    font-size: 1.2rem;
    padding: 1%;
    display: flex;
}
.item-result{
    font-size: initial;
}
.item-ingredient {
    text-align: start;
}
h4 {
    color: white;
    background: #3248ca;
    border-radius: 5px;
    height: 7vh;
    font-size: larger;
    overflow: hidden;
    margin-bottom: 3%;
}
svg {
    font-size: 1.2rem;
    color: #979898;
}
svg:hover{
    color: black;
    font-size: 1.5rem;
}
.bookmark {
    display: flex;
    margin: 2%;
    justify-content: center;
}
li{
    padding: .5rem;
    font-size: large;
    font-style: italic;
}